        </div>
      </nav>
    </div></div>
      <div class="row-fluid">
<h1><%= data_bag %>::<%= data_bag_item[:id] %></h1>
<div class="filterable">
  <table class="table table-condensed table-striped table-hover">
<% with_jsonpath(data_bag_item._attributes_) do |path, value| -%>
    <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<% end -%>
  </table>
</div>
