<div class="span10">
  <a class="btn" href="/data_bag_list">Back</a>
  <h3>Data bag item: <%= data_bag_item %></h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#attributes" data-toggle="tab">JSON path</a></li>
    <li><a href="#json" data-toggle="tab">JSON</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="attributes">
      <table class="table table-condensed table-striped table-hover">
<% with_jsonpath(parent_data_bag._attributes_) do |path, value| -%>
      <tr><td><%= path %></td><td><%== pretty_value(value) %></td></tr>
<% end -%>
      </table>
    </div>

    <div class="tab-pane" id="json">
      <pre>
<%= JSON.pretty_generate(parent_data_bag._attributes_) %>
      </pre>
    </div>

  </div>

</div>
