<div class="row-fluid">
<% if search_results.blank? -%>
<h1>No matching results found</h1>
<% else -%>
<h1>Search results (<%= search_results.length %>)</h1>
<% end -%>
<ul class="unstyled">
<% search_results.each do |data_item| -%>
    <li><a href="/data_bag/<%= data_bag %>/<%= data_item[:raw_data][:id] %>"><%= data_item[:raw_data][:id] %></a></li>
<% end -%>
</ul>
</div>
