<div class="row-fluid">
  <div class="span4">
    <h1>Environments</h1>
    <ul class="unstyled">
<% environments.each do |env| -%>
      <li><a href="/environment/<%= env[:name] %>"><%= env[:name] %></a></li>
<% end -%>
    </ul>
  </div>
  <div class="span4">
  </div>
</div>
