<div class="span10">
  <p>Chef-browser allows you to access the following data in a user-friendly format:
    <ul>
      <li>a list of nodes available on your server,
      <li>details of each node: name, ip address, fqdn, environment, tags, run list and JSON attributes,
      <li>a list of environments.
    </ul>
  </p>
</div>
