
    <div class="container-fluid">
      <div class="span2">
        <h2>Stuff</h2>
        <h3>Servers</h3>
        <a href="">Search</a>
        <a href="">Environment view</a>
        <a href="">Single server details</a>
        <h3>Data</h3>
        <a href="">Data bag item #1</a>
        <a href="">Data bag item #2</a>
        <a href="">Data bag item #3</a>
        <a href="">Data bag item #4</a>
        <h3>Configuration</h3>
        <a href="">Roles</a>
        <a href="">Environments</a>
        <a href="">Recipes</a>
      </div>
      <div class="span10"><h2>Content</h2></div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

