<!DOCTYPE html>
<html>
  <head>
    <title>Chef browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span2"><h1>Chef browser</h1>
        </div>
        <div class="span4">
          <a href="">Servers</a>
          <a href="">Data</a>
          <a href="">Configuration</a>
        </div>
      </div>
    </div>
      <%= yield %>
  </body>
</html>
