<!DOCTYPE html>
<html>
  <head>
    <title>Chef browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/chef-browser.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Chef browser</a>
          <ul class="nav">
            <li><a href="/nodes">Nodes</a></li>
            <li><a href="/data_bags">Data bags</a></li>
            <li><a href="/environments">Environments</a></li>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%== yield %>
    </div>
    <script src="/js/jquery-2.0.3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.filtertable.js"></script>
    <script>
    $('table').filterTable({label: "", placeholder: "filter attributes", inputClass: "search-query"});
    </script>
  </body>
</html>
