<% if wrong -%>
<p class="alert alert-danger">Wrong password or username</p>
<% end -%>
<form class="form-horizontal" method="post" action="<%= url '/login' %>" role="form" id="loginform" name="loginform">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block" id="loginform-submit">Login</button>
</form>
