<div class="row-fluid">
  <div class="span4">
    <h1>Nodes</h1>
    <ul class="unstyled">
<% nodes.each do |node| -%>
      <li><a href="/node/<%= node[:name] %>"><%= node[:name] %></a></li>
<% end -%>
    </ul>
  </div>
  <div class="span4">
    <form class="form-search" type="text" method="post" action="/nodes?q=<%= search_query %>">
      <fieldset>
        <legend>Node search</legend>
        <span class="help-block">You need to specify which node attribute will be searched through and type the search after a colon.</span>
          <div class="input-append">
            <input class="input-xlarge" id="appendedInputButton" type="text" name="node_search" placeholder="name:foobar"/>
            <button class="btn" id="submit" type="submit">Search</button>
          </div>
        </form>
       </fieldset>
    </form>
  </div>
</div>
