<div class="row-fluid">
  <div class="span4">
    <h1>Nodes</h1>
    <ul class="unstyled">
<% nodes.each do |node| -%>
      <li><a href="/node/<%= node[:name] %>"><%= node[:name] %></a></li>
<% end -%>
    </ul>
  </div>
  <div class="span4">
    <form class="form-search" type="text" method="get" action="/nodes">
        <legend>Node search</legend>
        <div class="input-append">
          <input class="input-block-level search-query" id="appendedInputButton" type="text" name="q" placeholder="mysql_server_root_password:*"/>
          <button class="btn" id="submit" type="submit">Search</button>
        </div>
    </form>
  </div>
</div>
