      <div class="span10"><h2>Nodes</h2>
        <div class="span10"><h3>Available nodes:</h3>

          <% my_server = Ridley.new(server_url: "http://127.0.0.1:4000", client_name: "marta", client_key: "/home/marta/.chef/marta.pem") %>
          <% @node_list = my_server.node.all %>
          <table class="table table-hover">
            <tbody>
            <% @node_list.each do |node| %>
              <% node._attributes_.each do |key, value| %>
                <tr class="error"><td><%= key %>: <%= value %></td></tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
