        <div class="span10"><h3>Nodes</h3>
          <% my_server = Ridley.new(server_url: "http://127.0.0.1:4000", client_name: "marta", client_key: "/home/marta/.chef/marta.pem") %>
          <% @nodes = my_server.node.all %>
          <table class = "table table-striped table-bordered">
            <% @nodes.each do |node| %>
                <tr><td><%= node._attributes_.name %></td></tr>
            <% end %>
          </table>
        </div>
      </div>
      </div>
