<div class="span4">
  <h1>Nodes</h1>
  <ul class="unstyled">
<% nodes.each do |node| -%>
    <li><a href="/node/<%= node[:name] %>"><%= node[:name] %></a></li>
<% end -%>
  </ul>
</div>
<div class="span4 offset4">
<% if settings.rb.node_search.length > 0 -%>
  <h2>Saved searches</h2>
  <ul class="unstyled">
<%   settings.rb.node_search.each do |link_name, query| -%>
    <li><a href='/nodes?q=<%= query %>'><%= link_name %></a></li>
<%   end -%>
  </ul>
<% end -%>
</div>
