<% if data_bag -%>
<div class="page-header">
  <h1><%= data_bag.chef_id %></h1>
</div>
<% end -%>
<% if search_query -%>
<%   if resources.empty? -%>
<p class="lead">No matching results found.</p>
<%   else -%>
<p class="lead">Search results (<%= resources.length %>)</p>
<%   end -%>
<% end -%>
<ul class="list-unstyled">
<% resources.each do |resource| -%>
  <li><a href='<%= url resource.url %>'><%= resource.chef_id || resource.name %></a></li>
<% end -%>
</ul>
