<div class="span4">
  <h1><%= resource_name.capitalize %>s</h1>
  <ul class="unstyled">
<% resources.each do |resource| -%>
    <li><a href="/<%= resource_name.gsub(' ', '_') %>/<%= resource[:name] %>"><%= resource[:name] %></a></li>
<% end -%>
  </ul>
</div>
