        </div>
      </nav>
    </div></div>
      <div class="row-fluid">
<% if search_results.blank? -%>
<h1>No matching results found</h1>
<% else -%>
<h1>Search results (<%= search_results.length %>)</h1>
<% end -%>
<ul class="unstyled">
<% search_results.each do |role| -%>
  <li><a href="/role/<%= role[:name] %>"><%= role[:name] %></a></li>
<% end %>
</ul>
