<div class="row-fluid">
  <div class="span4">
    <h1>Roles</h1>
    <ul class="unstyled">
<% roles.each do |role| -%>
      <li><a href="/role/<%= role[:name] %>"><%= role[:name] %></a></li>
<% end -%>
    </ul>
  </div>
  <div class="span4">
  </div>
</div>
