<div class="row-fluid">
  <div class="span4">
    <h1>Roles</h1>
    <ul class="unstyled">
<% roles.each do |role| -%>
      <li><a href="/role/<%= role[:name] %>"><%= role[:name] %></a></li>
<% end -%>
    </ul>
  </div>
  <div class="span4">
    <form class="form-search" type="text" method="get" action="/roles">
        <legend>Role search</legend>
        <div class="input-append">
          <input class="input-block-level search-query" id="appendedInputButton" type="text" name="q"/>
          <button class="btn" id="submit" type="submit">Search</button>
        </div>
    </form>
  </div>
</div>
