<h2>Legend:</h2>
<div class='col-md-offset-1'>
  <h4>Nodes</h4>
  <p><span class='muted'>/nodes : </span>List all nodes</p>
  <h4>AWS</h4>
  <p><span class='muted'>/nodes/AWS : </span>List all nodes hosted on Amazon Web Services</p>
  <h4>Rackspace</h4>
  <p><span class='muted'>/nodes/Rackspace : </span>List all nodes hosted on Rackspace</p>
  <h4>Digital Ocean</h4>
  <p><span class='muted'>/nodes/DigitalOcean : </span>List all nodes hosted on Digital Ocean</p>
</div>
<hr>
<span class='text-info'>(Psst! If you're not a Chef dev, you probably don't care about the following.)</span>
<div class='col-md-offset-1'>
  <h4>Environments</h4>
  <p><span class='muted'>/environments : </span>List available environments</p>
  <h4>Roles</h4>
  <p><span class='muted'>/roles : </span>List available roles</p>
  <h4>Data Bags</h4>
  <p><span class='muted'>/data_bags : </span>List available roles</p>
</div>
