<h2>Legend:</h2>
<div class='col-md-offset-1'>
  <h3>Nodes</h3>
  <p><span class='muted'>/nodes : </span>List all nodes</p>
  <h3>Environments</h3>
  <p><span class='muted'>/environments : </span>List available environments</p>
  <h3>Roles</h3>
  <p><span class='muted'>/roles : </span>List available roles</p>
  <h3>Data Bags</h3>
  <p><span class='muted'>/data_bags : </span>List available roles</p>
</div>
