.tabbable {
    position: relative;
}
.filterable {
    position: relative;
    padding-top: 3em;
}
.filter-table {
    position: absolute;
    top: 0;
    right: 0;
}

/* copy of col-sm-4, without float:left */
#nav-search {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    #nav-search {
        width: 33.33333333333333%;
    }
}

footer {
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding: .75em;
    min-height: 3em;
    text-align: center;
}

/* based on http://stackoverflow.com/a/9530687/16390 */
footer:after { 
    background-color: #f5f5f5;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    position: fixed;
    display: block;
}

@media (max-width: 767px) {
  footer:after {
    right: 20px;
    left: 20px;
  }
}

footer a {
    color: #33a0d6;
}

footer a:hover {
    color: #337799;
}

.container > .login {
  background-color: #e7e7e7;
  margin: auto;
  margin-top: 40px;
  width: 350px;
  padding: 20px 45px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
