.tabbable {
    position: relative;
}
.filterable {
    position: relative;
    padding-top: 3em;
}
.filter-table {
    position: absolute;
    top: 0;
    right: 0;
}

/* Fix Bootstrap's button group + form-search + dropdown combo */
.form-search .input-append .btn-group .btn {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.form-search .input-append .btn-group:last-child .btn-last {
    -webkit-border-radius: 0 14px 14px 0;
       -moz-border-radius: 0 14px 14px 0;
            border-radius: 0 14px 14px 0;
}

footer {
  position: relative;
  font-size: 80%;
  min-height: 15px;
  padding: 10px;
  padding-bottom: 2px;
  text-align: center;
}
